<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href="..\static\style.css">
    <title>home</title>
    <script type="module" src="..\static\reader.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <div class="header">
        <!-- <a class = "home" href="http://127.0.0.1:8000/">
            <span class="material-symbols-outlined">
                house
            </span>
        </a> -->
        <a class = "home" href="http://127.0.0.1:8000/">
            <img src="../static/home.jpg" width = "60px" margin-top: auto margin-bottom: auto, alt="Home">
        </a>
    <h1>Holidae Board Games</h1>
    </div>
    <div class="grid-item">
        <ul>
            <!-- <button onclick="scan()">test</button> -->
            <li><a class = "button" href="http://127.0.0.1:8000/scan/"> Start Event</a></li>
            <li><a class = "button" href="http://127.0.0.1:8000/manage_people/">Manage People</a></li>
            <li><a class = "button" href="http://127.0.0.1:8000/manage_perks/">Manage Perks</a></li>
        </ul>
    </div>
    <p>{{ results }}</p>
    <p>{{ perks.2 }}</p>
    <p>{{ perks.3 }}</p>
</body>
</html>